.favorite-band h1 {
  font-family: "Cinzel", serif;
  
}

.favorite-band p {
  font-family: "Rubik", sans-serif;
  
}

body.favorite-band {
	background-color: #8b0aba6c;
}

.index-page h1, h2, h3 {
	font-family: "Libre Baskerville", serif;
}

.index-page p, body {
	font-family: "Inter", sans-serif;
}

body.index-page {
	background-color: #a7eaa0;
}



