/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/*general styles*/
/* xanh-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Xanh Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/xanh-mono-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* yantramanav-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/yantramanav-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
  background-image: url(img/back.jpg);
}

.intro {
  font-family: "Yantramanav", sans-serif;
  font-size: 18px;
  background-color: bisque;
  margin: 10px auto;
  width: fit-content;
  padding: 10px;
  line-height: 1.5;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  text-indent: 10px;
  width: 500px;
  text-align: center;
}

/*headings*/
h1, h2, h3 {
  font-family: "Xanh Mono", serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 35px;
  background-color: red;
  color:beige;
  border: solid black 2px;
  border-radius: 4px;
  padding: 15px;
  width:fit-content;
  margin:auto;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h2 {
  font-size: 22px;
  background-color: red;
  color:beige;
  border: solid beige 2px;
  border-radius: 4px;
  padding: 15px;
  width:fit-content;
  margin: 10px auto;
  box-shadow: 2px 2px 5px black;
}

/*grid layout & styling*/
 .grid {
  display: grid;
  width: 90%;
  gap: 20px 10px;
  grid-template-columns:repeat(3, 3fr);
  margin: auto;
}

.movie {
  border: rgb(241, 43, 43) 2px solid;
  background-color: bisque;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
}

.title {
  font-size: 18px;
  padding: 5px;
}

.cap {
  font-family: "Yantramanav", sans-serif;
  font-size: 15px;
  line-height: 19px;
  padding: 5px;
}

.pic {
  width: 200px;
  padding:5px
}