/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* xanh-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Xanh Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/xanh-mono-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* yantramanav-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/yantramanav-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3 {
  font-family: "Xanh Mono", serif;
  letter-spacing: 1px;
}

p {
  font-family: "Yantramanav", sans-serif;
}

 .grid {
  display: grid;
  width: 90%;
  gap: 20px 10px;
  grid-template-columns:repeat(3, 3fr);
}

.movie {
  border: black 2px solid;
  background-color: bisque;
}

.title, .cap {
 padding: 5px;
}

.cap {
  font-family: "Yantramanav", sans-serif;
}

.pic {
  width: 150px;
  padding:5px
}